<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="swPath" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="checkMD5" value="" />
    <add key="factory" value="" />
    <add key="script" value="flash_all_lock.bat" />
    <add key="chip" value="Qualcomm" />
    <add key="da" value="" />
    <add key="dlType" value="" />
    <add key="scatter" value="" />
    <add key="mtkComs" value="" />
    <add key="chkSum" value="" />
    <add key="mainProgram" value="" />
    <add key="rawprogram" value="" />
    <add key="patch" value="" />
    <add key="ffuList" value="" />
    <add key="ffuPath" value="" />
    <add key="noquick" value="system.img" />
    <add key="firstinstall" value="1" />
    <add key="checkPoint" value="\$fastboot -s .* lock" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    <supportedRuntime version="v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
